<template>
    <v-layout
        column
        justify-center
        align-center
    >
        <v-flex
            xs12
            sm8
            md6
        >
        </v-flex>
    </v-layout>
</template>

<script>
import * as types from "~/store/mutation-types";


export default {
  components: {
  },
  mounted () {
    this.$store.dispatch(types.DISPLAY_SETUP);
  }
}
</script>
