<template>
    <div>
        <v-row align="center">
            <h2>Projects</h2>
        </v-row>
        <v-row align="center">
        </v-row>
    </div>
</template>

<style>
  #userpanel .v-expansion-panel-content__wrap{
    overflow-x: auto;
  }
</style>
<script src="./ProjectsPageImpl.ts" lang="ts"></script>
