<template>
    <div>
        <v-row align="center">
            <h2>Setup</h2>
        </v-row>
        <v-row align="center">
            <form>
                <v-text-field
                    v-model="username"
                    :counter="30"
                    label="Username"
                    required
                ></v-text-field>
                <v-text-field
                    v-model="password"
                    label="Password"
                    required
                ></v-text-field>

                <v-btn class="mr-4" @click="submit">
                    submit
                </v-btn>
            </form>
        </v-row>
    </div>
</template>

<style>
  #userpanel .v-expansion-panel-content__wrap{
    overflow-x: auto;
  }
</style>
<script src="./SetupPageImpl.ts" lang="ts"></script>
