<template>
    <v-app dark>
        <v-content>
            <v-container>
                <nuxt />
            </v-container>
        </v-content>
        <v-footer
            :fixed="fixed"
            app
        >
            <span>Mateus Carvalho &copy; 2019</span>
        </v-footer>
    </v-app>
</template>

<script src="./default.ts" lang="ts"></script>
